#head {

    font-size: 30pt;
    color: rgb(91, 7, 139);

}

body{
    background-image: url(https://st.depositphotos.com/2679339/3481/i/600/depositphotos_34813413-stock-photo-under-water.jpg);
}

#mainForm{
    text-align: center;
    z-index: 70;
    background-color: #E6E6FA;
    border: 5px groove #000000;
    padding: 5px 20px 20px 20px;
    position: absolute;
    left: 350px;
    top:50px;
    font-size: 25pt;
    width: 350px;
}

.parameter{
    width: 200px;
}

#buttonForm{
    text-align: center;
    z-index: 70;
    background-color: #E6E6FA;
    border: 5px groove #000000;
    padding: 5px 20px 20px 20px;
    position: absolute;
    left: 350px;
    top:510px;
    font-size: 25pt;
    width: 350px;
}

#mainTable{
    width: 300px;
    z-index: 80;
    border: 5px groove #000000;
    background-color: #E6E6FA;
    position: absolute;
    left:800px;
    top:50px;
    font-size: 25pt;
    height: 200px;
    overflow-y: scroll;
    text-align: center;
}

th{
    padding: 0px 15px;
    border: 2px solid black;
    border-collapse: separate;
    height: 50px;
    width: 100px;
}

td{
    border: 2px solid black;
    border-collapse: separate;
    height: 50px;
}
tr:hover{
    background-color: #e8e8e8;
}

#canvas {
    width: 310px;
    height: 310px;
}
